.main-title {
  margin: 10px 0 0 0;
  font-size: 30px;
  color: var(--white);
}

.house-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.day {
  color: white;
}

.day-background {
  background-color: white;
}

.night {
  color: black;
}

.night-background {
  background-color: black;
}