@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --red: #e93d3d;
  --green: #41d72f;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

html,
#root,
.App {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background-color: #b5b2b2;
  height: 100%;
  margin: 0;
  background: rgb(49, 49, 49);
  display: flex;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}